gunicorn
numpy==1.19.2
Cython==0.29.21
torch==1.1.0
torchfile==0.1.0
torchvision==0.3.0
Werkzeug==1.0.1
opencv_contrib_python==4.2.0.34
Flask==1.1.2
six==1.11.0
pymongo==3.11.0
Flask_PyMongo==2.3.0
apex==0.9.10dev
easydict==1.9
gdown==3.12.2
h5py==3.0.0
matplotlib==3.3.2
motmetrics==1.2.0
munkres==1.1.4
natsort==7.0.1
pandas==1.1.4
Pillow==8.0.1
pycocotools==2.0.2
PyYAML==5.3.1
scipy==1.5.3
timm==0.2.1
tqdm==4.51.0